<h3>Here are all our animals listed by type</h3>

<ul>
  <% @animals.each do |animal| %>
    <li><%= animal.name %>: <%= animal.type %></li>
  <% end %>
</ul>

<p><a href="/">Return</a> to home page</p>
