<h1>Welcome to our Animal Shelter</h1>

<p>See our animals available for adoption</p>
<p>See list of animals by:</p>
<ul>
  <li><a href="/animal-breed">Breed</a></li>
  <li><a href="/animal-name">Name</a></li>
  <li><a href="/animal-type">Type</a></li>
  <li><a href="/date-admitted">Date admitted</a></li>
</ul>

<p>Add an animal to our database <a href="/add-animal">here</a>.</p>

<p>Want to adopt? Send us your information <a href="/add-customer">here<a/>.</p>


<p><a href="/customers">List of all customers</a></p>
